html, body, div, span, applet, object, iframe,
 h1,h2,h3,h4,h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  /*list-style: none;*/
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


body{
  background-color: beige;
}


h1{
  font-size: 3em;
  color: beige;
}

h2{
  font-size: 2em;
  color: beige;

}

h3{
  font-size: 1.5em;
  color: beige;

}

p{
  color: beige;
}

span{
  color: #6C5D53;
}

td{
  color: #6C5D53;
  max-width: 50px;
  text-align: center;
}

th {
  color: #6C5D53;
  text-align: left;
  width: 6em;
}

tr:nth-child(odd){
  background-color: 
}


.container {
  padding: 0 auto;
  margin: 0 auto;
  margin-top: 3em;
  width: 70%;
  background-color: #6C5D53;
  border-radius: 5px;
  /*padding: 0px 20px 20px 20px;*/
  /*border: 1px dotted black;*/
}
table {
  border-collapse: separate;
  border-spacing: 2px;
  width: 100%;
}

nav {
  background-color: #6C5D53;
  height: 3em;
  padding: 0 15%;
  color: beige;
}

nav div{

}

nav #logo{
  background: url("../images/goat.jpg");
  margin-left: .5em;
  float: left;
  width: 3em;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

nav .login {
   float: right;
   padding: .5em;
   font-size: 1.5em;
   text-decoration: none;
   color: inherit;
}

nav h2 {
  display: inline-block;
  font-size: 1.5em;
  padding: .5em 0;
}

#hero {
  width: 100%;
  color: beige;
  /*padding: 1em;*/
  position: relative;
  text-align: center;
  height: 200px;
  background: #6C5D53;
}

#hero h1 {
  float: left;
  margin-left: 1em;
}

#homeWrapper{
  width: 100%
}

.column{
  /*padding: 1em;*/
  background-color: beige;
  width: 50%;
  /*display: inline-block;*/
  text-align: center;
  height: 500px;
  float: left;
  color: #6C5D53;
  /*border-left: 1px solid #6C5D53;*/
  /*border-right: 1px solid #6C5D53;*/

}

#signup {
  position: relative;
  /*border-right: 1px dashed #6C5D53;*/
}

#signup img{
  height: 200px;
  position: absolute;
  /*float: left;*/
  bottom: 0;
  left: 0;
  /*margin-top: 5%;*/
  -webkit-transform: translateX(2500px);
  transition: all 900ms ease-out;
}

#signup img.enter{
  -webkit-transform: translateX(0px)
  
}

.column h2 {
  text-align: center;
  padding: .5em 0;
  color: #6C5D53;
}

.column form{
  text-align: left;
  display: inline-block;
}


.column label{
  display: block;
  margin: 1em 0;
}

.column label input {
  display: block;
}

.tableWrapper{
  width: 80%;
  margin: 0 auto;
  max-width: 840px;
}

#surveys_list{
  background-color: beige;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
}

#surveys_list tr{
  height: 2em;
}

#surveys_list td{
  text-align: left;
  overflow: hidden;
}

.tableWrapper #surveys_list {
  max-width: 100%;
}

#profile{
  padding: 1em 0;
  text-align: center;
}

#createSurvey {
  text-align: center;
  display: inline-block;
  margin: 2% 0 2% 45%;
  padding: 1em;
  border: 1px solid black;
  background-color: beige;
  text-decoration: none;
}


#resultsWrapper h2 {
  text-align: center;
  padding: .5em;
  font-size: 3em;
}

#resultsWrapper p {
  text-align: center;
}

#resultsWrapper li {
  font-size: 1.5em;
  padding: .5em 1em 0 1em;
  background-color: beige;
  border-radius: 5px;
  color: beige;
  /*font-style: italic;*/
}

#resultsWrapper table tr{
  height: 2em;
}

#resultsWrapper .tableWrapper ol  {
  padding: 1em;
}

#resultsWrapper .tableWrapper ol h2 {
  padding: .5em 0;
  text-align: left;
}

#resultsWrapper .tableWrapper ol p {
  padding-bottom: .5em;
}

#resultsWrapper .tableWrapper div{
  /*border: 1px dotted black;*/
  padding: 1em 0;
}

#resultsWrapper .tableWrapper span {
  margin-bottom:1em;
  display:inline-block;
}

#resultsWrapper .tableWrapper canvas{
  /*float: left;*/
  /*margin-left: 5%;*/
  margin: 0 auto;
}

#resultsWrapper .tableWrapper #legend{
  /*float: right;*/
  /*width: 30%;*/
  /*margin-right: 5%;*/
  text-align: left;
  margin: 0 auto;
  font-size: .7em;
  list-style-type: none;
}

#resultsWrapper .tableWrapper #legend li:nth-child(1){
  color: #6C5D53;
  padding-top: 0;
  padding-bottom: .75em
}

#resultsWrapper .tableWrapper #legend li:nth-child(2){
  color: #B3E700; 
}

#resultsWrapper .tableWrapper #legend li:nth-child(3){
  color: #05579C; 
}

#resultsWrapper .tableWrapper #legend li:nth-child(4){
  color: #F28C00; 
}

#resultsWrapper .tableWrapper #legend li:nth-child(5){
  color: #AD008C; 
}

#resultsWrapper .tableWrapper #legend li:nth-child(6){
  color: #FF2C00; 
}


#resultsWrapper .tableWrapper .graph{
  /*border: 1px dashed #6C5D53;*/
  background-color: beige;
  color: #6C5D53;
  padding: .5em 0 2em 0;
  margin: .5em 0;
  border-radius: 5px;
}

#resultsWrapper .tableWrapper .graph td{
  width: 50%;
  color: #6C5D53;
}

.invisible{
  opacity: 0;
  position: absolute;
  z-index: -100;
}

#createWrapper h3 {
  padding-top: .5em;
  width: 50%;
  margin: auto;

  text-align: left;
}

#createWrapper input, textarea {
  display: block;
  margin: 1em 0;
  font-size: 1.25em;
  width: 100%;
}

#createWrapper form {
  width: 50%;
  margin: 0 auto;
}

#createWrapper #create_title {
  width: 80%;
  margin-bottom: 1em;
  font-size: 1.75em;
}

#createWrapper .question {
  width: 80%;
}

#createWrapper .choice {
  width: 50%;
}

#createWrapper .questionBox{
  position: relative;
}

#createWrapper .questionBox .removeQuestion {
  position: absolute;
  top:0;
  left: 82.5%;
  cursor: pointer;
}

#createWrapper .numberedList {
  list-style: decimal;
}

#createWrapper #complete{
  /*text-align: right;*/
  float: right;
  padding: .5em;
  margin-right: 20%;
  margin-top: 4em;
}

#createWrapper button{
  display: block;
}

.choice {
  position: relative;
}

#createWrapper .choice .removeChoice {
  position: absolute;
  left: 104%;
  top: .4em;
  cursor: pointer;
}

#createWrapper #question{
  margin-top: 2em;
  padding: .5em;
  width: 50%;
}

#surveyWrapper {
  width: 80%;
  margin: auto;
}

#surveyWrapper h1 {
  font-size: 2em;
  font-weight: 600;
  padding: .5em;
  text-align: left;
}

#surveyWrapper li {
  margin-left: 2em;
  font-size: 1.5em;
  color:beige;
}

#surveyWrapper span {
  color: beige;
}

#surveyWrapper li li{
  list-style: none;
  margin-left: 0;
  line-height: .65em;
}

#surveyWrapper li label input{
  margin-right: .5em;
}

#surveyWrapper li label{
  font-size: .5em;
}

#submitSurvey {
  display: block;
  margin: auto;
  padding: .5em 1em;
  font-size: 1.5em;
}

.error {
  color: red;
}

.successMessage {
  color: white;
}
/*#signup {
  width: 50%;
  display: inline-block;
}

#login {
  width: 50%;
  display: inline-block;
}*/
















