html, body, div, span, applet, object, iframe,
 h1,h2,h3,h4,h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  /*list-style: none;*/
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}





h1{
  font-size: 3em;
}

h2{
  font-size: 2em;
}

h3{
  font-size: 1.5em;
}







body{
  background-color: white;
}


.container {
  padding: 0 auto;
  margin: 0 auto;
  margin-top: 3em;
  width: 80%;
  /*background-color: white;*/
  /*padding: 0px 20px 20px 20px;*/
  border: 1px dotted black;
}
table {
  border-collapse: separate;
  border-spacing: 2px;
  width: 100%;
}
th {
  text-align: left;
  width: 10em;
}
nav {
  background-color: beige;
  height: 3em;
  padding: 0 10%;
  color: #6C5D53;
}

nav div{

}

nav #logo{
  background: url("../images/goat.jpg");
  margin-left: .5em;
  float: left;
  width: 3em;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

nav .login {
   float: right;
   padding: .5em;
   font-size: 1.5em;
   text-decoration: none;
   color: inherit;
}

nav h2 {
  display: inline-block;
  font-size: 1.5em;
  padding: .5em 0;
}

#hero {
  width: 100%;
  color: beige;
  padding: 1em;
  position: relative;
  text-align: center;
  height: 200px;
  background: #6C5D53;
}

#hero h1 {
  float: left;
  margin-left: 1em;
}

#homeWrapper{
  width: 100%
}

.column{
  padding: 1em;
  background-color: beige;
  width: 49.5%;
  /*display: inline-block;*/
  text-align: center;
  height: 500px;
  float: left;
  color: #6C5D53;
}

#signup {
  position: relative;
  border-right: 1px dashed #6C5D53;
}

#signup img{
  height: 200px;
  position: absolute;
  /*float: left;*/
  bottom: 0;
  left: 0;
  /*margin-top: 5%;*/
}
.column h2 {
  text-align: center;
  padding: .5em 0;
}

.column form{
  text-align: left;
  display: inline-block;
}


.column label{
  display: block;
  margin: 1em 0;
}

.column label input {
  display: block;
}

.tableWrapper{
  width: 80%;
  margin: 0 auto;
}

#profile{
  padding: 1em 0;
  text-align: center;
}

#createSurvey {
  text-align: center;
  display: inline-block;
  margin: 2% 0 2% 45%;
  padding: 1em;
  border: 1px solid black;
  background-color: beige;
  text-decoration: none;
}

.tableWrapper ol  {
  padding: 1em;
}

.tableWrapper ol h2 {
  padding: .5em 0;
  text-align: left;
}

.tableWrapper ol p {
  padding-bottom: .5em;
}

.tableWrapper div{
  border: 1px dotted black;
}

#resultsWrapper h2 {
  text-align: center;
}

#resultsWrapper p {
  text-align: center;
}

#resultsWrapper li {
  font-size: 1.5em;
  padding: .5em 0;
  /*font-style: italic;*/
}

#resultsWrapper table tr{
  height: 2em;
}

#createWrapper h3 {
  padding-top: .5em;
  width: 50%;
  margin: auto;

  text-align: left;
}

#createWrapper input, textarea {
  display: block;
  margin: 1em 0;
  font-size: 1.25em;
}

#createWrapper form {
  width: 50%;
  margin: 0 auto;
}

#createWrapper #create_title {
  width: 80%;
  margin-bottom: 1em;
  font-size: 1.75em;
}

#createWrapper .question {
  width: 80%;
}

#createWrapper .choice {
  width: 50%;
}

#createWrapper .questionBox{
  position: relative;
}

#createWrapper .questionBox span{
  position: absolute;
  font-size: 1.25em;
  left: -1.25em;
}

#createWrapper #complete{
  /*text-align: right;*/
  float: right;
  padding: .5em;
  margin-right: 20%;
  margin-top: 4em;
}

#createWrapper button{
  display: block;
}

#createWrapper #question{
  margin-top: 2em;
  padding: .5em;
  width: 50%;
}

#surveyWrapper {
  width: 80%;
  margin: auto;
}

#surveyWrapper h1 {
  font-size: 2em;
  font-weight: 600;
  padding: .5em;
  text-align: left;
}

#surveyWrapper li {
  margin-left: 2em;
  font-size: 1.5em;
}

#surveyWrapper li li{
  list-style: none;
  margin-left: 0;
  line-height: .65em;
}

#surveyWrapper li label input{
  margin-right: .5em;
}

#surveyWrapper li label{
  font-size: .5em;
}

#submitSurvey {
  display: block;
  margin: auto;
  padding: .5em 1em;
  font-size: 1.5em;
}
/*#signup {
  width: 50%;
  display: inline-block;
}

#login {
  width: 50%;
  display: inline-block;
}*/
















