<div id="createWrapper">
  <h3>Fill in the input fields to build your survey.</h3>
  <form action="/create" id="createForm"method="POST">
    <input id="create_title" type="text" name="survey[title]" placeholder="Survey Name">

  <ol id="survey">

  </ol>

    <button id="question">Add another question</button>
    
    <input id="complete" type="submit" disabled="true" value="Create survey">
  </form>

    </div>

    <li class = "questionBox invisible">    
      <textarea class="question" rows="3" cols="30" type="text" name="question_3[content]" placeholder="question"></textarea>
      <button id="choice">Add a choice</button>
      <span class="removeQuestion">X</span>
    </li>
      
    <div class="choice invisible">
      <input  type="text" name="question_1[choice_1]" placeholder="choice"><span class="removeChoice">X</span>
    </div>

