<div id="hero">
  <h1>Survey Goat is awesome!</h1>
</div>

<div id="signup" class="column">
  <h3>Sign up</h3>
  <form action="/" method="POST">
     <label>Email: <input type="text" name="email"></label>
     <label>Password: <input type="password" name="password"></label>
     <label>Confirm password: <input type="password" name="verify_password"></label>
     <input type="submit" value="Create account">
  </form>
</div>

<div id="login" class="column">
  <h3>Log in</h3>
    <form action="/" method="POST">
     <label>Email: <input type="text" name="email"></input></label>
     <label>Password: <input type="password" name="password"></input></label>
     <input type="submit" value="Log in">
  </form>
</div>
