<div id="hero">
  <h1>Survey Goat is awesome!</h1>
</div>

<div id="signup" class="column">
  <h2>Sign up</h2>
  <form action="/signup" method="POST">
     <p></p>
     <label>Email: <input type="text" name="email"></label>
     <label>Password: <input type="password" name="password"></label>
     <label>Confirm password: <input type="password" name="verify_password"></label>
     <% if @signup_errors %>
       <p style="color:red;"><%= @signup_errors %></p>
     <% end %>
     <br>
     <input type="submit" value="Create account">
  </form>
</div>

<div id="login" class="column">
  <h2>Log in</h2>
    <form action="/login" method="POST">
     <label>Email: <input type="text" name="email"></input></label>
     <label>Password: <input type="password" name="password"></label>
     <% if @errors %>
       <p style="color:red;"><%= @errors %></p>
     <% end %>
     <br>
     <input type="submit" value="Log in">
  </form>
</div>
