<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">




  <title>Survey Goat</title>
</head>
<body>
  <nav>
    <!-- <img src="images/goat.jpg" alt=""> -->
    <a id = "logo"href="/"></a>
    <h2>Survey Goat</h2>
    <% if current_user %>
      <a class="login" href="/logout">Logout</a>
      <a class ="login" href="/">Profile</a>
    <% else %>
      <a class="login" href="/">Login</a>
    <% end %>
  <!-- </div> -->
  </nav>
  <div class="container cf">

    <%= yield %>
  </div>
</body>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/OOQuestions.js"></script>
  <script src="/js/loginpage.js"></script>
  <script src="/js/chart/chart.js"></script>
  <script src="/js/chart.js"></script>

</html>
