<h3 id = "profile">Active surveys</h3>

<div class ="tableWrapper">
<table id="surveys_list">
  <thead>
    <th>Title</th>
    <th>Created on</th>
    <th>Responses</th>
    <th>Results</th>
  </thead>
  <tbody>
    <tr>
      <td>Favorite animal</td>
      <td>July 12, 2013</td>
      <td>12</td>
      <td>Link</td>
    </tr>
      <tr>
      <td>Favorite animal</td>
      <td>July 12, 2013</td>
      <td>12</td>
      <td>Link</td>
    </tr>
      <tr>
      <td>Favorite animal</td>
      <td>July 12, 2013</td>
      <td>12</td>
      <td>Link</td>
    </tr>
  </tbody>
</table>
</div>

<a id="createSurvey" href="">Create survey</a>
