<h3>Active surveys</h3>
<table id="surveys_list">
  <thead>
    <th>Title</th>
    <th>Created on</th>
    <th>Responses</th>
    <th>Results</th>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
