<div id="resultsWrapper">
  <h2>Survey Title</h2>
  <p>Total responses: 24</p>

  <div class ="tableWrapper">

    <ol>
      <div>
    <li><span>What is your gender?</span></li>
    <table id="surveys_list">
      <tbody>
        <tr>
          <th>Choices</th>
          <td>Male</td>
          <td>Female</td>
        </tr>
          <tr>
         <th>Answers</th>
         <td>50%</td>
          <td>50%</td>
        </tr>
          <tr>
          <th>Totals</th>
          <td>12</td>
          <td>12</td>
        </tr>
      </tbody>
    </table>
    </div>
  </ol>
  </div>
</div>
